{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block tittle %}inventory{% endblock %}

{% block content %}
<p id="item_to_craft"></p>

<form class="form" role="form" action="{% url 'inventory:make_item' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<ul>
   <li><input type="checkbox" name="please"> please </li>
    {% for item in craft %}
     <li>  <input type="radio" name="craft" value="{{ item.1 }}" {% if forloop.first %} checked {% endif %}> {{ item.0 }}  </li>
     {% endfor %}
</ul>

    <button type="submit" class="btn btn-success">Submit</button>
</form>




<table class="grid inventory">
    <tr>
    {% for item in grid %}
        {% if forloop.counter in slices %}
            </tr>
        {% if forloop.counter == craft_box_start %}
            </table>
            <table class="grid craft_box">
        {% endif %}
        <tr>
        {% endif %}
        {% if item %}
            <td id="div{{ forloop.counter }}" class="ent"><div id="drag{{ item.0 }}initial{{ forloop.counter }}" class="drag"><ul>
                <li>{{ item.2 }} - {{ item.3 }}  {{ item.4 }} </li>
                <li> {{ item.5 }} | {{ item.6 }} | {{ item.7 }} </li>
                {% if item.8 == 1 %}<li><a href="{% url 'inventory:equip' item.0 %}">equip</a> </li>{% endif %}
                {% if item.8 > 1 %}<li><a href="{% url 'inventory:unequip' item.0 %}">unequip</a> </li>{% endif %}
            </ul>  </div></td>
        {% comment %} mezi divem a dragem nesmí být odentrováno, jinak by v divu zusal child: "\n" {% endcomment %}
        {% else %}
            <td id="div{{ forloop.counter }}" class="ent"></td>
        {% endif %}
    {% endfor %}
    </tr>
</table>






{% endblock %}